@model New_Leaves.Models.Wish_List

@{
    ViewBag.Title = "CreateWishList";
    Layout = "~/Views/Shared/_LayoutRefugee.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
      $("#datepicker").datepicker({
          dateFormat: "d/M/yy"
      });
  } );
</script>
<div class="col-md-8">
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal contact-form">
            <h3>Add more items to your wishlist</h3>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div hidden="hidden" class="form-group">
                @Html.TextBoxFor(model => model.RID, new { @Value = @ViewBag.rid })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Item_ID, "Item", htmlAttributes: new { @class = "col-md-offset-3 col-md-6" })
                <div class="col-md-offset-3 col-md-6">
                    @Html.DropDownList("Item_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Item_ID, "", new { @class = "text-danger" })
                </div>
            </div>



            <div hidden="hidden" class="form-group">
                @Html.LabelFor(model => model.Create_Date, htmlAttributes: new { @class = "col-md-offset-3 col-md-6" })
                <div class="col-md-offset-3 col-md-6">
                    @Html.EditorFor(model => model.Create_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Create_Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                @Html.Label("Diliver it after:", htmlAttributes: new { @class = "col-md-offset-3 col-md-6" })
                <div class="col-md-offset-3 col-md-6">

                    @Html.TextBoxFor(model => model.Hope_Delivery_Date, "{0:dd/MMM/yyyy}", new { datepicker = true, @class = "form-control", id = "datepicker" })
                </div>
            </div>

            <div hidden="hidden" class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-offset-3 col-md-6">
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-offset-3 col-md-6" })
                <div class="col-md-offset-3 col-md-6">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-9">
                    <input type="submit" value="Add" class="btn-theme btn-style-two pull-right" />
                </div>
            </div>
        </div>
    }

</div> <!-- End of add new item form-->
<div class="col-md-3 all-wishlists">
    <h2>Your Wishlist</h2>

    @if (@ViewBag.list == null)
    {
        <table>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>
    }
    else
    {
        <table style="width: 100%;">
            <tr style="border-bottom: solid 1px #e5e5e5;">
                <td>Item:</td>
                <td>Image: </td>
                <td>Category: </td>
            </tr>
            @foreach (var x in @ViewBag.list)
            {
                <tr>
                    <td style="padding: 5px 0;">@x.Item.Item_Name</td>
                    <td class="pull-right">@x.Item.Category</td>
                    <td class="pull-right"><img src=@x.Item.Icon></td>
                </tr>
            }



        </table> }
</div>


<div class="col-lg-12 text-center">
    @Html.ActionLink("Back to my wishlist", "ShowWishList",new { code = User.Identity.Name })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
