@model IEnumerable<New_Leaves.Models.Wish_List>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutRefugee.cshtml";
}

<h2>Wish List</h2>

<p>
    @Html.ActionLink("Add Items", "CreateWishList",new { id = Model.FirstOrDefault().RID})
</p>



<table class="table">



    @foreach (var item in Model)
    {


        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.List_Submit_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Item_Name)
            </td>

        </tr>
    }

</table>
@Html.ActionLink("Back", "RefugeeDetails", new { email = User.Identity.Name })