@model IEnumerable<New_Leaves.Models.Wish_List>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All wishlists items</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table id="wishlists-table" class="table">
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.Item_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
</thead>
<tfoot>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.Item_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
</tfoot>
<tbody>
    @foreach (var item in Model)
    {
        if (!item.Status.Equals("Deleted") || !item.Status.Equals("Completed"))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Item_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Donate", "Create", "Donations", new { id = item.Wish_List_ID }, new { @class = "btn-theme btn-style-six" })<br />
                    @*@Html.ActionLink("Details", "Details", new { id = item.Wish_List_ID })*@ 
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.Wish_List_ID })*@
                </td>
            </tr>
        }      
    }
</tbody>
</table>
