@model New_Leaves.Models.Donation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donate_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donate_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donor.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wish_List.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wish_List.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DonationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
