<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - New Leaves</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/d3")
    @Scripts.Render("~/bundles/chart")

    <script type=“text/javascript” src=“https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js”></script>

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/Content/responsive.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i|Lora:400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i
" rel="stylesheet">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
@model New_Leaves.Models.Refugee
<body>
    <!-- Main Header / Header Style Two-->
    <header class="main-header header-style-two">

        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container">
                <div class="clearfix">
                    <div class="top-left">
                        <ul class="clearfix">
                            <li>Have Any Question?</li>

                            <li><span class="icon flaticon-e-mail-envelope"></span> <a href="#">NewLeaves@fourloop.com</a></li>
                        </ul>
                    </div>
                    <div class="top-right">
                        <ul class="social-icon-four clearfix"></ul>
                        <div class="donation-btn">
                            <a href="@Url.Action("Index","Wish_List")" class="theme-btn btn-style-two">Wish List!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Header-Upper-->
        @Html.Partial("_RefugeeLoginPartial")

        <!--End Header Upper-->
        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="#" class="img-responsive"><img src="~/images/NewLeaves_small2.png" alt="" title=""></a>
                </div>

                <!--Right Col-->
                <div class="right-col pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="dropdown">
                                    <a href="#">About</a>
                                    <ul>
                                        <li><a href="@Url.Action("About","Home")">About Us</a></li>
                                        <li><a href="team.html">Our Team</a></li>

                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                                <li><a href="@Url.Action("Create", "Donors")">I am a Donor</a></li>
                                <li><a href="@Url.Action("Create","Refugees")">I am a Refugee</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>

            </div>
        </div>
        <!--End Sticky Header-->

    </header>
    <!--End Main Header -->


    <div class="page-wrapper body-content">
        @RenderBody()
        <hr />
        <!--Main Footer-->
        <!--End Footer-->
        <!--Page Bottom-->
        <section class="page-bottom" style="background-image:url(images/background/4.jpg);">
            <div class="auto-container">
                <div class="title">Spread your love</div>
                <h2>Become A Donor</h2>
                <a href="#" class="theme-btn btn-style-two">Join Us Now</a>
            </div>
        </section>
        <!--End Page Bottom-->
    </div>
    <!--End pagewrapper-->
   
    
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/revolution")
    @Scripts.Render("~/bundles/jquery.fancybox.pack")
    @Scripts.Render("~/bundles/jquery.fancybox-media")
    @Scripts.Render("~/bundles/owl")
    @Scripts.Render("~/bundles/appear")
    @Scripts.Render("~/bundles/wow")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/mixitup")
    @Scripts.Render("~/bundles/validate")
    @Scripts.Render("~/bundles/script")
    @Scripts.Render("~/bundles/newLeavesViz")

    @RenderSection("scripts", required: false)
</body>
</html>
