@if (Request.IsAuthenticated)
{
 <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left logo-outerpadding1">
                <a href='@Url.Action("RefugeeIndex", "Home")' class="img-responsive"><img src="~/images/new-logo-long.png" alt="" title=""></a>
            </div>
            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="dropdown">
                                <a href="#">About</a>
                                <ul>
                                    <li><a href="@Url.Action("LearnMore", "Home")">Learn More</a></li>
                                    <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                                   
                                </ul>
                            <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                            @*  <li> @Html.ActionLink("My List", "ShowWishList", "RefugeeManage", new { id = User.Identity.GetUserId() }, null)</li> *@
                            <li> @Html.ActionLink("Hello " + (string)(ViewData["FullName"]), "RefugeeDetails", "RefugeeManage", new { code = User.Identity.Name }, null)</li>
                            <li>
                                @using (Html.BeginForm("Logout", "RefugeesLogin", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                                }
                            </li> 
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
        </div>
    </div>
        <!--End Sticky Header-->
}
else
{

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left logo-outerpadding1">
                <a href='@Url.Action("RefugeeIndex", "Home")' class="img-responsive"><img src="~/images/new-logo-long.png" alt="" title=""></a>
            </div>
            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="dropdown">
                                <a href="#">About</a>
                                <ul>
                                    <li><a href="@Url.Action("LearnMore", "Home")">Learn More</a></li>
                                    <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                             
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                            <li><a href="@Url.Action("Login", "RefugeesLogin")">Beneficiaries</a></li>
                            <li>@Html.ActionLink("Become a donor", "Registration", "DonorRegister", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Login", "Login", "DonorRegister", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
        </div>
    </div>
        <!--End Sticky Header-->

}